{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <title>Rock Knapping with Raspberry Pi</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">

    {% block style %}{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top" style="">
    <div class="navbar-inner">
    <div class="container">
            <a class="brand" href="/">Rock Knapping with Raspberry Pi</a>
            <ul class="btn btn-mini">
                {% if request.user.is_authenticated or user.is_authenticated %}
                        <a href="{% url 'logout' %}">{% trans "Sign out" %}</a>
                {% else %}
                        <a href="{% url 'login' %}">{% trans "Sign in" %}</a>
                {% endif %}
            </ul>
            <div class="nav-collapse">
        </div>
        </div>
    </div>
 </div>

<div class="main">
    <div class="container">
    {% block content %}
         <div class="row">
         <div class="span6">
           <div class="widget-header">
                     <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                     <h3>Current Cycle : <span id="cur_sch"></span></h3><i class="fa fa-minus"></i>
                     <div>
                     </div>
                 </div>
                 <!-- /widget-header -->
                 <div class="widget-content">
                     <div style="margin: 5% auto; width: 95%;">
                         <h4> Cycle Progress : <span id="span_percent"></span></h4>
                         <h4>Time to Cycle Completion : <span id="span_hour"></span>h <span id="span_min"></span>min</h4>
                         <table width="100%"><tr><th align="left">0</th><th align="right">100%</th></tr></table>
                         <div id="progressBar" style="vertical-align: middle">
                             <div id="prog" style="width: 70%; background-color: #00ba8b;" align="right"></div>
                         </div>
                         <br>
                         <div>
                             Rock Type / Schedule to Run :
                            <select id="schedule_list">
                            </select>
                             <button id="set_sch" class="btn"><h4>Change Schedule</h4></button>
                         </div>
                     </div>
                 </div>
          <!-- /widget -->
         </div>
          <div class="span6">
            <div class="widget widget-nopad">
                 <div class="widget-header">
                     <i class="fa fa-check" style="margin-left: 3%"></i>
                     <h3>Current Temperature and Stage</h3><i class="fa fa-minus"></i>
                     <div></div>
                 </div>

                 <!-- /widget-header -->
                 <div class="widget-content">
                     <div style="margin: 1% auto; width: 95%; vertical-align: middle;" align="center">
                        <br><br>
                         <span style="font-size: 80px;width: 400px;height: 500px; background-color: white; color: #414042; border-width: 0px">
                            <span id="last_val"></span>°F
                        </span>
                         <br><br><br>
                         <span style="font-size: 60px;width: 400px;height: 500px; background-color: white; color: #414042; border-width: 0px">
                            Heating Stage : <span id = "span_stage"></span>
                        </span>
                         <br>
                         <br>
                     </div>
                 </div>
                 <!-- /widget-content -->
             </div>
            </div>
          <!-- /widget -->
          </div>
             <div class="row">
                 <div class="span6">
                   <div class="widget-header">
                     <i class="fa fa-list-alt" style="margin-left: 3%"></i>
                     <h3>E-mail Notification</h3><i class="fa fa-minus"></i>
                     <div>
                     </div>
                   </div>
                 <!-- /widget-header -->
                   <div class="widget-content">
                     <div style="margin:3% auto; width: 95%;">
                         <h3>Enter E-mail address to receive alert when complete.</h3><br>
                        E-mail Address : <input type="text" id="mail_address">
                        <button id="set_email" class="btn"><h4>Set</h4></button>
                     </div>
                   </div>
                        <br>

                     <div class="widget-header"> <i class="fa fa-list-alt"></i>
                    <h3>Temperature (°F)</h3><i class="fa fa-minus"></i>
                    <div id="refresh-ram">
                    </div>
                </div>
                <!-- /widget-header -->
                    <div class="widget-content">
                        <p></p>
                        <canvas id="memoryChart" width="560" height="200"></canvas>
                    </div>
                    <!-- /widget-content -->
                 </div>

             <!-- /widget -->
          <div class="span6">
            <div class="widget widget-nopad">
                 <div class="widget-header">
                     <i class="fa fa-check" style="margin-left: 3%"></i>
                     <h3>Set Manual Schedule</h3><i class="fa fa-minus"></i>
                     <div></div>
                 </div>
                 <!-- /widget-header -->
                 <div class="widget-content">
                     <div style="margin: 1% auto; width: 95%; vertical-align: middle;" align="center">
                        <div>
                            <table width="100%">
                                <tr>
                                    <td style="vertical-align: top;" align="left">
                                        <h3>First Step:</h3><br>
                                        <table>
                                            <tr>
                                                <td>Temp :</td>
                                                <td><input type="text" id="1st_time" style="width: 50px" value="8">Hr<br></td>
                                            </tr>
                                            <tr>
                                                <td>Hold Time :</td>
                                                <td><input type="text" id="1st_temp" style="width: 50px" value="150">°F<br></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="vertical-align: top">
                                        <h3>Second Step:</h3><br>
                                        <table>
                                            <tr>
                                                <td>Hold Time : </td>
                                                <td><input type="text" id="2nd_time" style="width: 50px" value="5">Hr<br></td>
                                            </tr>
                                            <tr>
                                                <td>Interval : </td>
                                                <td><input type="text" id="2nd_temp" style="width: 50px" value="40">°F/Hr<br></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="vertical-align: top">
                                        <h3>Third Step:</h3><br>
                                        <table>
                                            <tr>
                                                <td>Hold Time : </td>
                                                <td><input type="text" id="3rd_time" style="width: 50px" value="10">Hr<br></td>
                                            </tr>
                                            <tr>
                                                <td>Interval : </td>
                                                <td><input type="text" id="3rd_temp" style="width: 50px" value="20">°F/Hr<br></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <span>Note : Third step is decreasing progress.</span>
                            <br>
                            <br>
                            <button id="set_schedule" class="btn"><h4>Run Manual Schedule</h4></button>
                            <br>
                            <br>

                        </div>
                     </div>
                 </div>
                 <!-- /widget-content -->
             </div>
            </div>
          <!-- /widget -->
          </div>

        <!-- /span6 -->
        </div>
    <!-- /row -->
      </div>
      <!-- /container -->

 </div>  
<!-- /main -->      

<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span6">&copy; 2016 by Wester de Weerdt</a> </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /footer-inner --> 
</div>
<!-- /footer --> 

{% endblock %}

{% block script %}
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-notify.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
<script src="{% static "js/Chart.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dashboard.js" %}"></script>
<script src="{% static "js/jquery-asProgress.js" %}"></script>
<script src="{% static "js/jquery-min.js" %}"></script>
<script src="{% static "js/pickerjs.js" %}"></script>
<script src="{% static "js/jquery-1.12.0.min.js" %}"></script>
<!--[if lte IE 8]>
    <script src="{% static "js/excanvas.js" %}"></script>
<![endif]-->
<script type="text/javascript">

var mem_ctx = $("#memoryChart").get(0).getContext("2d");
        var memChart = new Chart(mem_ctx);
        function get_temp_chart(){
            $.getJSON('/info/memory/', function(data) {
                var options = {
                    animation : false,
                    pointDotRadius : 4,
                    scaleLabel : "<%=value%> °F"
                }
                memChart.Line(data, options);
                var last_temp = data['datasets'][0]['data'][9][0];
                $('#last_val').text(last_temp);
            });
        }


$(function() {
            window.setInterval('get_temp_chart()', {{ time_refresh }});
            window.setInterval('dashboard.getDisk()', {{ time_refresh_long }});
        });

$(function pageLoad() {
    dashboard.getDisk();
    get_temp_chart();
});

function isEmail(email) {
    var regex = /^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
    return regex.test(email);

}

$('#set_sch').click(function() {
    if (confirm('Do you want to change the schedule?')) {
        var val = $('#schedule_list').find(":selected").val();

        var url = '/info/setup/schedule_' + val.toString();
            $.get(url, function (data) {
                if (data.toString() == 'true'){
                    alert("Setting done.");

                }
                else{
                    alert("Setting failed.");
                }
            }, "json");
    }
});

$('#set_schedule').click(function() {
    if (confirm('Do you want to change the schedule?')) {
        var req = [];
        req[0] = ($('#1st_time').val());
        req[1] = ($('#2nd_time').val());
        req[2] = ($('#3rd_time').val());
        req[3] = ($('#1st_temp').val());
        req[4] = ($('#2nd_temp').val());
        req[5] = ($('#3rd_temp').val());

        for (i = 0; i < req.length; i ++){
            if ($.trim(req[i]) == ''){
                alert("Please fill all fields");
                return;
            }
            if (!$.isNumeric(req[i])){
                alert("Please insert numbers only");
                return;
            }
        }

        var tmp = req.toString();
        var rr = tmp.replace(/\,/g, '-');
        var url = '/info/setup/manual_' + rr;
            $.get(url, function (data) {
                if (data.toString() == 'true'){
                    alert("Setting done.");

                }
                else{
                    alert("Setting failed.");
                }
            }, "json");
    }
});


$('#set_email').click(function() {
    if (confirm('Do you want to change the email address?')) {
        var val = $('#mail_address').val();
        if (isEmail(val)){
            var tmp = val.toString();
            // in url, '@' is not recognized, so replace it to '-'
            var text = tmp.replace('@', '-');
            var url = '/info/setmail/' + text;
            $.get(url, function (data) {
                var re = data.toString();

                if (re == 'true'){
                    alert("Setting done.");
                }
                else{
                    alert("Setting failed.");
                }
            }, "json");
        }
        else{
            alert("Input proper correct address.");
        }

    }
});


</script>


{% endblock %}

</body>
</html>
